

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + mapKey>
</script>


<script type="text/template" data-template="designer">
  <div class="twelve wide column" id="bubble-container"></div>
  <div class="sixteen wide column" id="page-container"></div>
</script>

<script type="text/template" data-template="nav-bubbles">
  <div class="column">
    <a href="/#tree-search">1</a>
  </div>
  <div class="column">
    <a href="/#tree-sort">2</a>
  </div>
  <div class="column">
    <a href="/#tree-save">3</a>
  </div>
</script>

<script type="text/template" data-template="tree-search">
  <div class="four wide column" id="search-form-container"></div>
  <div class="twelve wide column" id="search-map-container"></div>  
</script>

<script type="text/template" data-template="search-form">
  <select name="diameter">
    <option value="any" selected>any</option>
    <option value="large">large</option>
    <option value="medium">medium</option>
    <option value="slight">slight</option>
  </select>
  <button data-action="submit">submit</button>
</script>

<script type="text/template" data-template="species-select">
  {{#all}}
    <option value="{{species}}">{{species}}</option>
  {{/all}}
</script>

