

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + mapKey>
</script>

<style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>  

<script type="text/template" data-template="search-form">
  <select name="diameter">
    <option value="any" selected>any</option>
    <option value="large">large</option>
    <option value="medium">medium</option>
    <option value="slight">slight</option>
  </select>
  <button data-action="submit">submit</button>
</script>

<script type="text/template" data-template="species-select">
  {{#all}}
    <option value="{{species}}">{{species}}</option>
  {{/all}}
</script>

