

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + mapKey>
</script>

<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


<script type="text/template" data-template="designer">
  <div class="row"></div>
  <div class="twelve wide column" id="bubble-container"></div>
  <div class="row"></div>
  <div class="sixteen wide column" id="page-container"></div>
</script>

<script type="text/template" data-template="nav-bubbles">
  <div class="column nav-bubble">
      <a href="/#tree-search">1</a>
  </div>
  <div class="column nav-bubble">
    <a href="/#tree-sort">2</a>
  </div>
  <div class="column nav-bubble">
    <a href="/#tree-save">3</a>
  </div>
</script>

<script type="text/template" data-template="tree-search">
  <div class="six wide column" id="search-form-container"></div>
  <div class="ten wide column" id="search-map-container"></div>  
</script>

<script type="text/template" data-template="search-form">
  <select name="diameter">
    <option value="any" selected>any</option>
    <option value="large">large</option>
    <option value="medium">medium</option>
    <option value="slight">slight</option>
  </select>
  <button data-action="submit">submit</button>
</script>

<script type="text/template" data-template="species-select">
  {{#all}}
    <option value="{{species}}">{{species}}</option>
  {{/all}}
</script>

<script type="text/template" data-template="search-results">
  <p>Showing {{lowerBound}} through {{upperBound}} of {{length}} results</p>
  <button data-action="show-previous-ten">back</button>  
  <button data-action="show-next-ten">forward</button>
</script>

<script type="text/template" data-template="tree-show">
  <div class="ui grid three column centered">
    <div class="column treeshowtext">
      <h1>{{species}}</h1>
      <p>{{borough}}</p>
      <p>{{street}}</p>
      <p>Nearest Building: {{building_number}} {{building_street}}</p>
      <p>{{diameter}} inches diameter</p>
    </div>
  </div>
</script>

